---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { parseISO, format } from "date-fns";
import { Image } from "astro:assets";

const isDev = import.meta.env.DEV;

export const getSlugFromPath = (path: string): string => {
  const filename = path.split("/").at(-1)!.replace(".md", "");

  // If this is from the projects directory, prefix with "project-"
  if (path.includes("/projects/")) {
    return `project-${filename}`;
  }

  return filename;
};

const allPosts = await Astro.glob("../content/posts/*.md");
const allProjects = await Astro.glob("../content/projects/*.md");

const sortedPosts = allPosts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf(),
  )
  .filter((p) => p.frontmatter.hidden !== true);

const sortedProjects = allProjects
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf(),
  )
  .filter((p) => p.frontmatter.hidden !== true);
---

<Layout title="Aadish Verma" hideName={true}>
  <Button variant="ghost" className="-ml-4 mb-3 pb-3 duration-0">
    <h1><a href="/" class="">Aadish Verma</a></h1>
  </Button>
  <br />
  <span>
    <p>
      Student at Stanford Online High School, passionate about really anything
      [but especially STEM]. A few notable things I've done:
    </p>

    <ul>
      <li>
        <em>Hackathons.</em>
        Won the OHS 2024 Labor Day Hackathon. I might write a blog post about it
        later :) [<a href="https://github.com/aadishv/doleofdoves">code</a>]
      </li>

      <li>
        <em>Competitive programming.</em>
        <a href="https://adventofcode.com/2024">Advent of Code</a> 2024 participant.
        [<a href="https://github.com/aadishv/aoc">code</a>]
      </li>

      <li>
        <em>Robotics.</em>
        Lead coder for VEX V5 Robotics Competition team <a
          href="https://www.robotevents.com/teams/V5RC/315P">315P</a
        > for Over Under and part of the High Stakes seasons. My code is unfortunately
        private, but I have made a <a
          href="https://github.com/aadishv/highstakes">public mirror</a
        > of my High Stakes code available.
      </li>

      <p>I've built several tools and games:</p>
      <ul>
        <li>
          <a href="/tools/latex">LaTeX to Image</a>. A tool that converts LaTeX
          equations into images in SVG, PNG, or GIF format. It includes live
          preview rendering and easy copy options for image URLs and Markdown.
        </li>
        <li>
          <a href="/games/slide">A minimal slide puzzle</a>. It uses a simple
          design and animated game mechanics to create a seamless puzzle
          experience. Upload any image to make your own puzzle.
        </li>
        <li>
          <a href="/tools/chinese">Chinese Practice</a>. An interactive tool
          designed to help learners practice Chinese characters and pinyin
          pronunciation. The application offers two distinct practice modes,
          comprehensive progress tracking, and an intuitive interface to enhance
          your Chinese language learning experience.
        </li>
      </ul>

      <p>
        I've also built several open-source tools for other projects, which I'm
        currently at liberty to explain in depth but will soon write a few blog
        posts about :)
      </p>
    </ul>

    <p>
      Contact me!
      <br /><a href="mailto:aadish@ohs.stanford.edu">email</a>
      <br /><a href="https://github.com/aadishv" target="_blank">github</a>
    </p>

    <p>
      {"If I've built something else, you might find it"}
      <a href="/tools">here</a>
      {"or in my blog/projects ↓"}
    </p>
  </span>

  <!-- divider -->
  <hr class="my-8" />

  <h2 class="pb-5">Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
    {
      sortedProjects.map((project) => (
        <a href={"/" + getSlugFromPath(project.file)} class="aadish-none">
          <Card className="w-[25rem] transition-shadow h-full flex flex-col hover:shadow-md">
            {project.frontmatter.image ? (
              <div class="m-4 mb-0">
                <img
                  src={project.frontmatter.image}
                  alt={project.frontmatter.title}
                  class="object-cover rounded-lg shadow-sm mx-auto"
                />
              </div>
            ) : null}
            <div class="flex flex-col flex-grow">
              <CardHeader className="pb-2">
                <CardTitle className="text-xl">
                  {project.frontmatter.title}
                </CardTitle>
                <CardDescription>
                  {format(parseISO(project.frontmatter.date), "LLLL d, yyyy")}
                </CardDescription>
              </CardHeader>
            </div>
            <CardContent>
              <p class="line-clamp-3 text-sm">
                {project.frontmatter.description}
              </p>
            </CardContent>
          </Card>
        </a>
      ))
    }
  </div>

  <hr class="my-8" />

  <h2 class="pb-5">Blog</h2>
  {
    sortedPosts.map((post) => (
      <>
        <a href={"/" + getSlugFromPath(post.file)} class="text-xl">
          {post.frontmatter.title}
        </a>
        <div class="mb-5">
          {format(parseISO(post.frontmatter.date), "LLLL d, yyyy")}
        </div>
      </>
    ))
  }
</Layout>
