---
export interface Props {
  post: any;
}

import { getSlugFromPath } from "../utils/get-slug-from-path";
import { parseISO, format } from "date-fns";
import "../style/global.css";

const { post } = Astro.props;
const url = "/projects/" + getSlugFromPath(post.file);

const date = parseISO(post.frontmatter.date);
const formattedDate = format(date, "LLLL d, yyyy");
---

<div class="bg-stripes-header2 mb-4 flex flex-col border-2 border-header2 p-2">
  <h1>
    <a href={url} class="font-mono text-xl text-black hover:text-header">
      {post.frontmatter.title}
    </a>
  </h1>
  <div class="font-mono font-medium text-header">
    {post.frontmatter.description}
  </div>
  <div class="flex w-full gap-2 font-lora text-header">
    <a href={post.frontmatter.link}>Demo ↗</a>・
    <a href={post.frontmatter.github}>Github ↗</a>・
    <div>Last updated {formattedDate}</div>
  </div>
</div>
